{% extends 'methodist/base.html' %}
{% load maintag %}
{% load static %}

{% block content %}
    <h2 class="text-center">{{ rating.name_subject }}</h2>
    <div class="container table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>username</th>
                <th>group</th>
                <th>5*</th>
                <th>12*</th>
                <th>дата</th>
                <th>перез</th>
                <th>зар</th>
                <th>викл</th>
                <th>дія</th>
            </tr>
            </thead>
            <tbody>
            {% get_current_semester request.path as current_semester %}
            {% tag rating.name_subject current_semester as exists_rating %}
            {% for i in rating.group.student_set.all %}
                <tr id="user_row_{{ i.user.id }}">
                    <td>{{ i.user.id }}</td>
                    <td>{{ i.user.username }}</td>
                    <td>{{ i.group.name }}</td>
                {% get_current_semester request.path as current_semester %}
                    {% if i.user.id not in exists_rating %}
                        <td><input type="number" value="" name="rating_5" min="1"
                                   id="id_rating_5"></td>
                        <td><input type="number" value="" name="rating_12" min="1"
                                   id="id_rating_12"></td>
                        <td><input type="date" name="date_rating" required
                                   value="" id="id_date_rating"></td>
                        <td><input type="checkbox"
                                   name="retransmission" id="id_retransmission"></td>
                        <td><input type="checkbox"
                                   name="credited" id="id_credited"></td>

                        <td>
                            <select name="teacher" id="id_teacher">
                                <option value="">-------</option>
                                {% for i in rating.teachers.all %}
                                        <option value="{{ i.id }}">{{ i.username }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    {% else %}
                        {% get_rating i.user.id exists_rating as rating_student %}
                        <td><input type="number" value="{{ rating_student.rating_5 }}" name="rating_5" min="1"
                                   id="id_rating_5"></td>
                        <td><input type="number" value="{{ rating_student.rating_12 }}" name="rating_12" min="1"
                                   id="id_rating_12"></td>
                        <td><input type="date" name="date_rating" required
                                   value="{{ rating_student.date_rating|date:'Y-m-d' }}" id="id_date_rating"></td>
                        <td><input type="checkbox" {% if rating_student.retransmission %}checked{% endif %}
                                   name="retransmission" id="id_retransmission"></td>
                        <td><input type="checkbox" {% if rating_student.credited %}checked{% endif %}
                                   name="credited" id="id_credited"></td>

                        <td>
                            <select name="teacher" id="id_teacher">
                                <option value="">-------</option>
                                {% for i in rating.teachers.all %}
                                    {% if i == rating_student.teacher %}
                                        <option value="{{ i.id }}" selected>{{ i.username }}</option>
                                    {% else %}
                                        <option value="{{ i.id }}">{{ i.username }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                    {% endif %}

                    <td id="action_{{ i.user.id }}">
                        {% if i.user.id in exists_rating %}
                            {% get_rating i.user.id exists_rating as rs %}
                            <a id="but_{{ i.id }}" class="btn btn-warning"
                               onclick="updateRating({{ rs.id }},
                                                     {{ rs.user.id }},
                                                     {{ current_semester }})">Оновити</a>
                        {% else %}
                            <a id="but_{{ i.id }}" class="btn btn-success"
                               onclick="createRating({{ i.user.id }}, {{ rating.id }}, {{ current_semester }})">Створити</a>
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'methodist/js/rating.js' %}">
    </script>
{% endblock %}